{% extends "wiki/base.html" %}
{% block titleblock %}
{% if page %}
    Editing {{ page.address }}
{% elif address %}
    Creating {{ address }}
{% else %}
    Creating the root page
{% endif %}
{% endblock %}
{% block page_content %}

{% load addclass %}

<div class="card">
  <div class="card-header">
    <h2>
      {% if page %}
        Editing {{ page.address }}
      {% elif address %}
          Creating {{ address }}
      {% else %}
          Creating the root page
      {% endif %}
    </h2>
    {% include "wiki/_tabs.html" with active_tab="edit" %}
  </div>
  <div class="card-body">
    <form action="/wiki/_edit/{{ address }}" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-warning" role="alert">
          {{ form.non_field_errors }}
        </div>
        {% endif %}
        {% for field in form %}
        <div class="form-group">
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field|addclass:'form-control' }}
          {% if field.help_text %}
            {{ field.help_text|addclass:'form-text text-muted' }}
          {% endif %}
        </div>
        {% endfor %}
        <p><input type="submit" value="Submit" /></p>
    </form>
  </div>
</div>

{% endblock %}
