{% extends "base.html" %}
{% block titleblock %}
{% if page %}
    Editing {{ page.address }}
{% elif address %}
    Creating {{ address }}
{% else %}
    Creating the root page
{% endif %}
{% endblock %}
{% block content %}

{% load addclass %}
<div class="breadcrumb">
  {% if page %}
  {% for parent in page.parents %}
    <a class="breadcrumb-item" href="/wiki/{{ parent.address }}">
    {{ parent.part_address }}</a>
  {% endfor %}
  <span class="breadcrumb-item active">{{ page.part_address }}</span>
  {% elif address %}
  <span class="breadcrumb-item active">{{ address }}</span>
  {% endif %}
</div>

<div class="card">
  <h2 class="card-header">
    {% if page %}
      Editing {{ page.address }}
    {% elif address %}
        Creating {{ address }}
    {% else %}
        Creating the root page
    {% endif %}
  </h2>
  <div class="card-body">
    <form action="/wiki/_edit/{{ address }}" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-warning" role="alert">
          {{ form.non_field_errors }}
        </div>
        {% endif %}
        {% for field in form %}
        <div class="form-group">
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field|addclass:'form-control' }}
          {% if field.help_text %}
            {{ field.help_text|addclass:'form-text text-muted' }}
          {% endif %}
        </div>
        {% endfor %}
        <p><input type="submit" value="Submit" /></p>
    </form>
  </div>
</div>

{% endblock %}
