{% extends "base.html" %}
{% block titleblock %}Wiki{% if page.title %} - {{ page.title }} {% endif %}{% endblock %}
{% block content %}

<div class="breadcrumb">
  {% for parent in page.parents %}
    <a class="breadcrumb-item" href="/wiki/{{ parent.address }}">
    {{ parent.part_address }}</a>
  {% endfor %}
  <span class="breadcrumb-item active">{{ page.part_address }}</span>
</div>

<div class="card">
  <div class="card-header">
    <h1>{{ page.title }}</h1>
    <small>
      Last edited by:
      {% if page.last_revision and page.last_revision.owner %}
          {{ page.last_revision.owner.username }},
      {% else %}
          Somebody,
      {% endif %}
      {{ page.last_modified_ago }}.
    </small>
  </div>
  <div class="card-body">
    {{ page.html|safe }}
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" href="/wiki/_edit/{{ address }}">Edit</a>
    {% comment %}
    This is a bad idea - we should make a form or use Javascript to POST to a delete endpoint.
    {% endcomment %}
    <a class="btn btn-danger" href="">Delete</a>
  </div>
</div>

{% endblock %}
